<!DOCTYPE html>
<html>
  <head>
    <title>Create Vitals</title>
    
    <% if !@rules["js_files"].nil? %>      
      <% @rules["js_files"].split(",").each do |key| %>      
    <%= "<link rel='stylesheet' href='/stylesheets/#{key.strip}.css' type='text/css'>" if key.strip.length > 0 %>      
      <% end              
    end %>
      
    <script type='text/javascript' language='javascript' src='/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js' defer  ></script>
    
    <% if !@rules["js_files"].nil? %>      
      <% @rules["js_files"].split(",").each do |key| %>      
    <%= "<script type='text/javascript' language='javascript' src='/javascripts/#{key.strip}.js' defer  ></script>" if key.strip.length > 0 %>      
      <% end              
    end %>
                  
    <script type='text/javascript' defer>   
     
      <% if !@rules["parameters"].nil? %>      
        <% @rules["parameters"].each do |key, value| %>      
          <%= "var #{key} = #{value};" if key.strip.length > 0 %>      
        <% end              
      end %>
        
      tt_cancel_destination = '<%= (!@rules["cancel_destination"].nil? ? @rules["cancel_destination"] : "/") %>';
      tt_cancel_show = '<%= (!@rules["cancel_show"].nil? ? @rules["cancel_show"] : "/") %>';
      var timerTime = 200;
      
      function checkReading(id){ 
          if(__$(id)){
            var obj = __$(id);
          } else {
            return;
          }
          
          var url = obj.getAttribute('equipment_url') + (obj.getAttribute('equipment_url').match(/\?/) ? "&" : "?") + "t=" + (new Date()).getTime();
            
          if(url == null) return;
              
          var httpRequest = new XMLHttpRequest();
          httpRequest.onreadystatechange = function() {
              handleAjaxRequest(obj, httpRequest);
          };
          try {
              httpRequest.open('GET', url, true);
              httpRequest.send(null);
          } catch(e){
          }
      }
      
      function handleAjaxRequest(control, aXMLHttpRequest) {
        if (!aXMLHttpRequest) return;                    
   
        if (aXMLHttpRequest.readyState == 4 && aXMLHttpRequest.status == 200) {
                
            var result = aXMLHttpRequest.responseText;
             
            if (control != null){
              control.value = result;
              
              readingHandle = setTimeout("checkReading('" + control.id + "')", timerTime);
              
            } 
        }
      
      }
        
      function checkBarcode(){
        __$("keyboard").style.display = "none";
        
        __$("clearButton").style.display = "none";
        
        <% if cookies[:location].nil? %>
          __$("cancelButton").innerHTML = "<span>Logout</span>"
          
          tt_cancel_destination = '/logout';
        <% end %>        
        
        if(__$("touchscreenInput" + tstCurrentPage)){
          if(__$("touchscreenInput" + tstCurrentPage).value.match(/\$/) || 
            __$("touchscreenInput" + tstCurrentPage).value.match(/\n/)){
            
            document.forms[0].submit();
            
          }
        }
        
        setTimeout("checkBarcode()", 100);
      }
    
      function setCookie(field){
        document.cookie = field + "=" + __$("touchscreenInput" + tstCurrentPage).value;
      }
    
    </script>
  </head>
  <body>
    <div id='content'>
      
      <% unless flash[:notice].nil? %>
        <script type="text/javascript">
          <!--
          setTimeout("showMessage('<%= flash[:notice] %>')", 300);
          //-->
        </script>
      <% end %>
      <% unless flash[:error].nil? %>
        <script type="text/javascript">
          <!--
          setTimeout("showMessage('<%= flash[:error] %>')", 200);
          //-->
        </script>
      <% end %>
        
      <% form_tag "#{(!@rules["action"].nil? ? @rules["action"] : "")}" do -%>
        
        <%= hidden_field_tag("encounter_type", (!@rules["encounter_type"].nil? ? @rules["encounter_type"] : nil)) %>
        
        <table width='100%' border=1 cellpadding=10 cellspacing=0>
          <tr>
            <th colspan=2>
              <%= "#{(!@rules["title"].nil? ? @rules["title"] : "&nbsp;")}" %>
            </th>
          </tr>
        
          <% if !@rules["questions"].nil? %>
      
            <% if !@rules["check_fields"].nil? and @rules["check_fields"] %>      
      
              <% @rules["questions"].sort.each do |key, value| %>
            
                <% if @params.include?(value["param"]) %>
              
                  <tr>
                    <td>
                      <%= value["question"] %>
                    </td>
                    <td>
                    
                      <% field = "" %>
                      
                      <% (value.keys).each{|f| field = "#{field} #{f}=\"#{(value[f].to_s.strip.match(/^\@{3}/) ? eval(value[f].to_s.strip.gsub(/^\@{3}/, "")) : value[f])}\" " if f != "options" and  f != "question" } %>
                      
                      <% 
                      
                        if !value.keys.include?("id")
                        
                          field = "#{field} id='q#{key}' "
                          
                        end
                      
                        if !value.keys.include?("name")
                        
                          field = "#{field} name='q#{key}' "
                          
                        end
                      
                        if !value.keys.include?("type")
                        
                          field = "#{field} type='text' "
                          
                        end
                      
                      %>
                      
                      <% if value.keys.include?("options") %>
                      
                          <select style="width: 100%;" helpText="<%= value["question"] %>" <%= field %> >
                            <% value["options"].each do |element_value, element_innerhtml| %>
                            
                              <option value="<%= element_value %>" <%= (value.keys.include?("name") and !params[value["name"]].nil? ? (element_value == params[value["name"]] ? "selected" : "") : "") %> ><%= element_innerhtml %></option>
                            
                            <% end %>
                          </select>
                          
                      <% else %>
                      
                          <input style="width: 100%;" helpText="<%= value["question"] %>" <%= field %> value="<%= (value.keys.include?("name") and !params[value["name"]].nil? ? params[value["name"]] : "") %>" />
                          
                      <% end %>
                        
                    </td>
                    
                  </tr>  
                            
                <% end
              
                end
              
             else %>
      
              <% @rules["questions"].sort.each do |key, value| %>
            
                <tr>
                  <td>
                    <%= value["question"] %>
                  </td>
                  <td>
                  
                      <% field = "" %>
                      
                      <% (value.keys).each{|f| field = "#{field} #{f}=\"#{(value[f].to_s.strip.match(/^\@{3}/) ? eval(value[f].to_s.strip.gsub(/^\@{3}/, "")) : value[f])}\" " if f != "options" and  f != "question" } %>
                      
                      <% 
                      
                      if !value.keys.include?("id")
                      
                        field = "#{field} id='q#{key}' "
                        
                      end
                    
                      if !value.keys.include?("name")
                      
                        field = "#{field} name='q#{key}' "
                        
                      end
                    
                      if !value.keys.include?("type")
                      
                        field = "#{field} type='text' "
                        
                      end
                    
                    %>
                    
                      <% if value.keys.include?("options") %>
                      
                          <select style="width: 100%;" helpText="<%= value["question"] %>" <%= field %> >
                            <% value["options"].each do |element_value, element_innerhtml| %>
                            
                              <option value="<%= element_value %>" <%= (value.keys.include?("name") and !params[value["name"]].nil? ? (element_value == params[value["name"]] ? "selected" : "") : "") %> ><%= element_innerhtml %></option>
                            
                            <% end %>
                          </select>
                          
                      <% else %>
                      
                          <input style="width: 100%;" helpText="<%= value["question"] %>" <%= field %> value="<%= (value.keys.include?("name") and !params[value["name"]].nil? ? params[value["name"]] : "") %>" />
                          
                      <% end %>
                        
                  </td>
                  
                </tr>  
                          
              <% end
              
            end 
          
          end %>
        
        </table>
        
      <% end %>
      
    </div>
  </body>
</html>

